body{
    height: 100vh;
    width: 50vh auto;
}

.indexheader{
 
    height: 15vh;
 background-color: rgb(73, 70, 70);
}

.indexmain{


    padding: 50px;
    margin: 0px;
    width:50vh auto;
    height: 70vh;
    background-image:url(images/MJ_28.jpg);
    background-repeat: no-repeat;
    background-position:contain;
    background-size:cover;
    background-color: rgb(73, 70, 70,);

}
.externalindex{
    background-color: rgba(0, 0, 0, 0.55);
    width:50vh auto;
    height: 120vh;
    padding: inherit;
    margin: -50px;
}

.indexnav{
   
    display: flex;
    flex-direction:column;
    gap: 4em;
    justify-content: center;
    align-items: center;
    padding: 30px;
    /* border: 3px solid; */
 
}
 .indexnav a{
    

  text-decoration: none;
  /* border: 3px solid; */
 
  font-size: 20px;
  color: rgba(244, 248, 250, 0.75);
  
   
}
.indexnav a:hover{
    border: 3px solid;
}


footer{
    height: 15vh;
    color: white;
    background-color: rgb(73, 70, 70);
    display: flex;
   justify-content: center;
   align-items: center;
}

.aboutusheader{
    height: 15vh;
    background-color: rgb(73, 70, 70);
    width:1000px;
    padding: 0px;
    margin: 0px auto;
}
.aboutusmain{
    font-family: 'Cormorant SC', serif;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    padding: 0px;
    margin: 0px auto;
    width:1000px;
  
    background-color: rgb(121, 97, 62);
}


.aboutus1{
    
    /* height: 50vh; */
    margin: 0px;
    padding: 20px;
    /* box-shadow: -2px -2px 2px 2px  rgb(125, 125, 136),2px 2px 2px 2px rgb(51, 51, 61); */
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    /* background-color: rgb(95, 65, 19); */
    color: rgb(233, 211, 113);
   
}
.aboutus1 p{
    padding: 0;
    margin: 0;
    font-size: 15px;
    letter-spacing: 2px;
   
}

.aboutusfigure{
    width: 1000px;
    display:flex;
    flex-wrap: wrap;
   /* align-items: center;
   justify-items: center; */
   text-align: center;
   margin: 0;
   padding: 0;
   
   
}
.aboutusfigure img{
    width: 500px;
    
}

.aboutusfigure1{
    flex: display;
    align-items: center;
    margin: 0;
    padding: 0;
}
.aboutusfigure1 img{
    width: 1000px;
   
  
}
.aboutusnav{
    display: flex;
    gap: 2em;
    flex-direction: column;
    background-color: black;
    position: fixed;
    top: 0;
    right: 2;
}

.aboutusnav a{
    display: flex;
    text-decoration: none;
    font-size: 15px;
    color: blanchedalmond;

  
   
 
}
.aboutusfooter{
    height: 15vh;
    color: white;
    background-color: rgb(73, 70, 70);
    display: flex;
   justify-content: center;
   align-items: center;
}
.gallerymain{
    padding: 50px;
    margin: 0px;
    width:50vh auto;
    height: 70vh;
    background-color: rgb(129, 121, 72);
}


.galleryheader{
    height: 15vh;
    background-color: rgb(73, 70, 70);
    padding: 0px;
   

}


.gallerynav a{
    display: flex;
    text-decoration: none;
    font-size: 15px;
    color: blanchedalmond;

}
.galleryfooter{
    height: 15vh;
    color: white;
    background-color: rgb(73, 70, 70);
    display: flex;
   justify-content: center;
   align-items: center;
}
.bookingheader{
    height: 15vh;
    background-color: rgb(73, 70, 70);
    padding: 0px;
   
}
.bookingmain{
    font-family: 'Cormorant SC', serif;
    font-family: 'Edu TAS Beginner', cursive;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-family: 'Oswald', sans-serif;
    padding: 50px;
    margin: 0px;
    width:50vh auto;
    height: 120vh;
    justify-items: center;
    align-items: center;
    /* background-color: rgba(0, 0, 0, 0.22); */
    background-image: url(images/mj_4.jpg);
   
    background-repeat: none;
    background-position:top;
    background-size:cover;
 
}
.bookingmain p{
    padding: 0;
    margin: 3px;
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
    color: rgb(10, 10, 10);
    font-weight: bolder;
   
   

}
.externalbook{
    background-color: rgba(0, 0, 0, 0.22);
    width:50vh auto;
    height: 120vh;
    padding: inherit;
    margin: -50px;
}
.bookingnav a{
    display: flex;
    text-decoration: none;
    font-size: 15px;
    color: blanchedalmond;

}
input{
    height: 25px;
    color: rgb(199, 21, 21);
    background-color: rgb(226, 215, 215);
    
}
.inputbooking{
    height: 45px;
    width: 300px;
}
.bookingfooter{
    height: 15vh;
    color: white;
    background-color: rgb(73, 70, 70);
    display: flex;
   justify-content: center;
   align-items: center;
}
button{
    background-color: rgb(7, 7, 7);
    color: antiquewhite;
    display: flex;
    margin: 10px;
    font-size: 17px;
    border-radius: 1cm;
    padding: 6px;
    box-shadow: -1px -1px 1px 1px grey ,1px 1px 1px 1px grey;
 

}
.presetsheader{
    height: 15vh;
    background-color: rgb(73, 70, 70);
    padding: 0px;
}
.presetsmain{
  padding: 50px;
    margin: 0px;
    width:50vh auto;
    height: 100vh;
}
.youtubeheader{
    height: 15vh;
    background-color: rgb(73, 70, 70);
    padding: 0px;
}
.youtubemain{
    padding: 50px;
    margin: 0px;
    width:50vh auto;
    height: 100vh;
}
.weddingheader{
    height: 15vh;
    background-color: rgb(73, 70, 70);
    padding: 0px;
}
.weddingmain{
        
        padding: 50px;
        padding-top: 3px;
        padding-bottom: 3px;
        margin: 0px;
        width:50vh auto;
        height: 450vh;
        
}
.weddingcontainer{
    column-count: 5;
    column-gap: 3px;
    
}
.weddingmain img{
    width: 100%;
     margin: 0;
   padding: 0;
   
   display: grid;
   grid-template-rows: 1fr auto;
   margin-bottom: 3px;
   break-inside: avoid;
  
   
}
.othermain{
        padding: 50px;
        padding-top: 2px;
        padding-bottom: 2px;
        margin: 0px;
        width:50vh auto;
        height: 140vh;
}
.othercontainer{
    column-count: 5;
    column-gap: 3px;
}
.othermain img{
    width: 100%;
    margin: 0;
  padding: 0;
  display: grid;
   grid-template-rows: 1fr auto;
   margin-bottom: 3px;
   break-inside: avoid;
}
.otherheader{
    height: 15vh;
    background-color: rgb(73, 70, 70);
    padding: 0px;
}
.weddingtag img{
    width: 500px;
    z-index: 1;
}
.othertag img{
    width: 500px;
    height: 450px;
    z-index: 1;
}
.gallerymain{
    display: flex;
    flex-direction: wrap;
}
.weddingtag figcaption{
    font-family: 'Cormorant SC', serif;
    font-family: 'Edu TAS Beginner', cursive;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    text-align: center;
     font-size: 2em;
     text-transform: uppercase;
     margin-top: -8em;
     font-weight: 60px;
   }
   .weddingtag a{
    text-decoration: none;
    color: black;
    font-weight:bolder;
   }
   .othertag figcaption{
    font-family: 'Cormorant SC', serif;
    font-family: 'Edu TAS Beginner', cursive;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    margin-top: -8em;
    font-weight: 60px;
   }
   .othertag a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
   }

   .upheader{
    display: flex;
    font-size: 15px;
    gap: 1em;
    justify-content: end;
    justify-items: center;
    padding-top: 50px;
    padding-right: 20px;
   }

   .upheader a{
    color: white;
    text-decoration: none;
   }


   /* media query */



  